#app { }

table {
    width: 100%;
}

.navbar-default, .navbar-brand {
    background-color:#281f34;
    background-image: none;
    background-repeat: no-repeat;
}

.logo {
    height: 64px;
    width: 64px;
    margin-right: 20px;
}


.dbc-message {
    margin: 2rem 0;
}